$contentWidth: 800px;
$maxWidth: calc(100% - 40px);

$headerColour: #ff0180; // #da3889;
$accentColour: #121645; // #29329a;
$accentLinkColour: #b7bdff;
$bgColour: whitesmoke;

* {
    box-sizing: border-box;
}

@mixin headerFont {
    font-family: 'Open Sans', sans-serif;
}

@mixin bodyFont {
    font-family: 'IBM Plex Serif', serif;
}

@mixin link($col) {
    a, a:visited {
        color: $col;
        transition: color 0.2s ease-in-out;
    }
    a:hover {
        color: lighten($col, 10%);
    }
}

@mixin break-words {
    // Breaks woprds wherever necessary to wrap,
    // and add hyphens where appopriate:
    word-wrap: anywhere;
    hyphens: auto;
}

body {

    @include bodyFont;
    padding: 0px;
    margin: 0px;
    background-color: $bgColour;

    h1, h2, h3, h4 {
        @include headerFont;
    }

    > .body {

        $spacing: 25px 0px;

        > header {

            @include headerFont;
            background-color: $headerColour;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;

            > .title-inner {

                width: $contentWidth;
                max-width: $maxWidth;

                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding: $spacing;

                @include link(white);

                a, a:visited {
                    text-decoration: none;
                }

                @mixin hover-scale {
                    transition: 0.2s ease-in-out;
                    &:hover {
                        transform: scale(1.12);
                    }
                }

                > .jsdw {
                    font-size: 3em;
                    line-height: 0.8em;
                    @include hover-scale;
                }

                > nav {
                    margin-top: $spacing;
                    display:flex;
                    a {
                        margin-left: 1em;
                        @include hover-scale;
                    }
                }
            }

        }
        > section {

            display: flex;
            align-items: center;
            flex-direction: column;

            > .top {

                width: 100%;
                background-color: $accentColour;
                color: white;
                position: relative;

                padding: 1em 0px;
                display: flex;
                justify-content: center;

                @include break-words();
                @include link($accentLinkColour);

                background-color: #444;

                // a little "scene"
                > .top-scene {

                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    overflow: hidden;

                    $scene-fg: #9191e2;
                    border-bottom: 9px solid #6650b3;

                    .polygon {
                        position: absolute;
                        &.one {
                            transform: translate(-300px) scaleX(4) scaleY(1.5);
                            polygon {
                                fill: #e1e1e1;
                            }
                        }
                        &.two {
                            transform: translate(300px) scaleX(4) scaleY(1.3);
                            polygon {
                                fill: #aeaeae;
                            }
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background-color: #11004f;
                        opacity: 0.8;
                    }
                }

                // Text on top of scene
                > .top-inner {
                    width: $contentWidth;
                    font-size: 1.1em;
                    max-width: $maxWidth;
                    position: relative;

                    font-size: 1.1em;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;

                    margin-top: 1em;
                    margin-bottom: 1em;

                    // uniform paddings for text in the top
                    // area.
                    > * {
                        background-color: #0f0024;
                        padding-left: 20px;
                        padding-right: 20px;
                        padding-top: 15px;
                        padding-bottom: 0px;
                        margin-bottom: 0px;
                        margin-top: 0px;

                        &:last-child {
                            padding-bottom: 15px;
                        }
                    }

                    // give title a bit of extra space below:
                    .title {
                        font-size: 2.5em;
                        font-weight: normal;
                        padding-bottom: 10px;
                    }
                }

            }

            > .content-inner {
                width: $contentWidth;
                max-width: $maxWidth;

                > h1#projects, h1#posts {
                    font-size: 2.5em;
                }
            }
        }
        > footer {
            height: 100px;
        }

    }

}

ul.toc {

    padding: 0;

    > li {
        list-style: none;
        margin-bottom: 2em;
        margin-top: 2em;

        > .date {
            color: gray;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #e0e0e0;
        }

    }

}

@include link($headerColour);

// home page styling:
.body.home {

    .see-all {
        font-size: 0.5em;
    }

}

// blog post styling:
.body.post section {

    .top-inner .date {
        font-size: 0.5em;
        color: #e4e4e4;
        // keep date on one line:
        white-space: nowrap;
    }

    .content-inner {
        > .post {

            $title-emphasis: rgb(250, 79, 165);
            $quote-emphasis: rgb(202, 207, 255);

            @include break-words();

            .table-of-contents {
                > ul {
                    margin: 0;
                    padding-left: 2em;
                    > li {
                       list-style: number;
                    }
                }

                padding: 1em;
                margin: 0.5em 0em;

                background-color: rgba($title-emphasis, 0.08);
                border-left: 5px solid rgba($title-emphasis, 0.5);
            }

            h1 {
                font-size: 2em;
                position: relative;
                display: inline-block;
                padding-right: 0.2em;
                padding-left: 0.1em;
                margin-top: 0.2em;
                margin-bottom: 0.5em;
                &::before {
                    content: '';
                    height: 15px;
                    background-color: rgba($title-emphasis, 0.1);
                    width: 100%;
                    display: block;
                    position: absolute;
                    z-index: -1;
                    bottom: 0;
                    left: 0;
                }
            }

            h2 {
                font-size: 1.7em;
            }
            h3 {
                font-size: 1.5em;
            }

            // Tables:
            table {
                th:not(:last-child), td:not(:last-child) {
                    padding-right: 1em;
                }
            }

            // code blocks:
            pre {
                font-size: 1.1em;
                padding: 0.8em 0.9em;
                margin-left: -12px;
                margin-right: -12px;
                overflow-y: auto;
            }

            // inline code:
            p > code {
                font-size: 1.1em;
                background-color: #e4e4e4;
                padding: 0.1em 0.2em;
            }

            // quotes:
            blockquote {
                padding: 0.5em 1em;
                margin: 2em 0em;
                background-color: rgba($quote-emphasis, 0.24);
                border-left: 5px solid $quote-emphasis;
                p {
                    margin: 0;
                }
            }

            // images:
            img {
                max-width: $maxWidth;
                margin-left: auto;
                margin-right: auto;
                display: block;
            }

        }
    }
}

.icon {
    vertical-align: middle;
}

@import "katex";
@import "needsJs";