{% import "macros.html" as macros %}
{% block loc %}{% set location = "home" %}{% endblock loc %}

{% set posts = get_section(path="posts/_index.md") %}
{% set projects = get_section(path="projects/_index.md") %}
{% set cv = get_page(path="cv.md") %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Open+Sans" rel="stylesheet">
    <link href="{{ config.base_url }}/app.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ config.base_url }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ config.base_url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ config.base_url }}/favicon-16x16.png">
    <link rel="manifest" href="{{ config.base_url }}/site.webmanifest">
    <link rel="mask-icon" href="{{ config.base_url }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#f9409c">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <div class="body {{ location }}">
        <header>
            <div class="title-inner">
                <div class="jsdw">
                    <a href="{{ config.base_url }}">JSDW</a>
                </div>
                <nav>
                    <a href="{{ posts.permalink }}">posts</a>
                    <a href="{{ projects.permalink }}">projects</a>
                </nav>
            </div>
        </header>
        <section>
            <div class="top">
                <div class="top-scene">
                    <div class="sun">
                        <div class="ray1"></div>
                        <div class="ray2"></div>
                        <div class="ray3"></div>
                        <div class="ray4"></div>
                        <div class="ray5"></div>
                        <div class="ray6"></div>
                        <div class="ray7"></div>
                        <div class="ray8"></div>
                        <div class="ray9"></div>
                    </div>
                    <div class="cloud cloud3">{{ macros::svg_cloud() }}</div>
                    <div class="cloud cloud2">{{ macros::svg_cloud() }}</div>
                    <div class="cloud cloud1">{{ macros::svg_cloud() }}</div>
                </div>
                <div class="top-inner">
                    {% block top %}{% endblock top %}
                </div>
            </div>
            <div class="content-inner">
                {% block content %}{% endblock content %}
            </div>
        </section>
        <footer>

        </footer>
    </div>
    <script type="text/javascript" src="{{ config.base_url }}/page.js"></script>
</body>