{% macro posts_toc(pages,limit) %}
    <ul class="blog toc">
        {% for page in pages %}
        {% if limit <= 0 or loop.index0 < limit %}
        {% if not page.draft %}
            <li>
                <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
                <p>{{ page.description }}</p>
                <p class="date"><span class="date-inner">{{ page.date | date(format="%Y-%m-%d") }}</span></p>
            </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro posts_toc %}

{% macro projects_toc(pages,limit,config) %}
    <ul class="projects toc">
        {% for page in pages %}
        {% if limit <= 0 or loop.index0 < limit %}
        {% if not page.draft %}
            <li>
                <h2><a href="{% if page.extra.url %}{{ page.extra.url | safe }}{% else %}{{ page.extra.source | safe }}{% endif %}">
                    {{ page.title }}
                </a></h2>
                <p>{{ page.description }}</p>
                {% if page.extra.source %}
                    <p><img class="icon" src="{{ config.base_url }}/icons/view_source.svg" /> <a href="{{ page.extra.source }}">view source</a></p>
                {% endif %}
            </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro projects_toc %}

{% macro page_toc(page) %}
    {% if page.extra.toc is undefined %}
        {% set toc = 0 %}
    {% else %}
        {% set toc = page.extra.toc %}
    {% endif %}
    {% if toc > 0 %}
        <div class="table-of-contents">
            <ul>
            {% for h1 in page.toc %}
                <li>
                    <a href="{{h1.permalink | safe}}">{{ h1.title | safe }}</a>
                    {% if toc > 1 %}
                    {% if h1.children %}
                        <ul>
                            {% for h2 in h1.children %}
                                <li>
                                    <a href="{{h2.permalink | safe}}">{{ h2.title | safe }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro post_toc %}

{% macro svg_cloud() %}
    <svg class="svg_cloud" width="100%" height="100%" viewBox="0 0 224 121" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <g transform="matrix(1,0,0,1,-141.508,-148.263)">
            <g transform="matrix(0.866321,0,0,1,18.9168,0)">
                <ellipse cx="195.599" cy="228.687" rx="54.09" ry="40.212" class="cloud-bubble"/>
            </g>
            <g transform="matrix(0.866321,0,0,1,83.6895,0)">
                <ellipse cx="195.599" cy="228.687" rx="54.09" ry="40.212" class="cloud-bubble"/>
            </g>
            <g transform="matrix(0.866321,0,0,1,148.408,0)">
                <ellipse cx="195.599" cy="228.687" rx="54.09" ry="40.212" class="cloud-bubble"/>
            </g>
            <g transform="matrix(0.866321,0,0,1,54.689,-40.2118)">
                <ellipse cx="195.599" cy="228.687" rx="54.09" ry="40.212" class="cloud-bubble"/>
            </g>
            <g transform="matrix(0.866321,0,0,1,112.636,-40.2118)">
                <ellipse cx="195.599" cy="228.687" rx="54.09" ry="40.212" class="cloud-bubble"/>
            </g>
        </g>
    </svg>
{% endmacro svg_cloud %}