{% macro posts_toc(pages,limit) %}
    <ul class="blog toc">
        {% for page in pages %}
        {% if limit <= 0 or loop.index0 < limit %}
        {% if not page.draft %}
            <li>
                <h2><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h2>
                <p>{{ page.description }}</p>
                <p class="date"><span class="date-inner">{{ page.date | date(format="%Y-%m-%d") }}</span></p>
            </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro posts_toc %}

{% macro projects_toc(pages,limit,config) %}
    <ul class="projects toc">
        {% for page in pages %}
        {% if limit <= 0 or loop.index0 < limit %}
        {% if not page.draft %}
            <li>
                <h2><a href="{% if page.extra.url %}{{ page.extra.url | safe }}{% else %}{{ page.extra.source | safe }}{% endif %}">
                    {{ page.title }}
                </a></h2>
                <p>{{ page.description }}</p>
                {% if page.extra.source %}
                    <p><img class="icon" src="{{ config.base_url }}/icons/view_source.svg" /> <a href="{{ page.extra.source }}">view source</a></p>
                {% endif %}
            </li>
        {% endif %}
        {% endif %}
        {% endfor %}
    </ul>
{% endmacro projects_toc %}